/.project
*.bgn
*.cmd_log
*.bld
*.bit
*.drc
*.ncd
*.ngd
xst/
isim/
_xmsgs/
connecting_pad.txt
*.xbcd
iseconfig/
*.jhd
*.lso
*.ngr
*.pad
connecting.par
connecting.pcf
connecting.prj
connecting.ptwx
connecting.schlog
connecting.stx
connecting.syr
connecting.twr
connecting.twx
connecting.unroutes
connecting.ut
connecting.vhf
connecting.xpi
connecting.xst
connecting_bitgen.xwbt
connecting_map.xrpt
connecting_ngdbuild.xrpt
connecting_envsettings.html
connecting_map.map
connecting_map.mrp
connecting_map.ngm
connecting_pad.csv
connecting_par.xrpt
connecting_summary.html
connecting_summary.xml
connecting_usage.xml
connecting_vhdl.prj
connecting_xst.xrpt
connecting.ngc
fuse.log
fuse.xmsgs
fuseRelaunch.cmd
isim.cmd
pepExtractor.prj
pozytywka.gise
saw.spl
saw.stx
saw.sym
saw.syr
saw.twr
saw.twx
saw.unroutes
saw.ut
Readme.txt
saw.ngc
saw.par
saw.pcf
saw.prj
saw.xst
saw_beh.prj
saw_bitgen.xwbt
saw_envsettings.html
saw_isim_beh.exe
saw_isim_beh.wdb
saw_map.map
saw_map.mrp
saw_map.ngm
saw_pad.csv
saw_pad.txt
saw_stx_beh.prj
saw_summary.html
saw_test_beh.prj
saw_test_isim_beh.exe
saw_test_isim_beh.wdb
saw_test_isim_beh1.wdb
saw_test_stx_beh.prj
saw_vhdl.prj
saw_xst.xrpt
sch2HdlBatchFile
webtalk.log
webtalk_pn.xml
xilinxsim.ini
_ngo/netlist.lst
